/* pink code #F47373 
title = Montserrat bold
text = Marcellus*/

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Marcellus', serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color : black;
}

/*Header*/

header{
    background-color: #F47373;
}

header nav.nav{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: 77px;
    margin: 0 auto;
}

header .nav .logoName a{
    text-decoration: none;
    color: #FFFFFF;
}

header .nav .logoName a h1{
    margin: 0;
    font-size: 2.5em;
    font-weight : bold;
}

header .nav .navigation .listNavigation{
    display: flex;
    list-style: none;
    font-size: 1.7em;
    margin: 0;
}

header .nav .navigation .listNavigation li{
    padding-top: 27.5px;
    padding-bottom: 27.5px;
    padding-left: 15px;
    padding-right: 15px;
}

header .nav .navigation .listNavigation li:hover{
    background-color: rgb(247, 102, 102);
}

header .nav .navigation .listNavigation li a{
    text-decoration: none;
    color: #FFFFFF;
}

/*Main*/


/*Footer*/

footer{
    background-color: #F47373;
    color: white;
}

footer div.contentFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    height: 262px;
}

footer div.contentFooter .contentFooterInfos{
    font-size: 2em;
}

footer .contentFooter .contentFooterWeekInfos{
    display: flex;
}

footer .contentFooter .contentFooterWeekInfos ul{
    list-style: none;
}

footer .contentFooter .contentFooterWeekInfos ul li{
    font-weight: bold;
    font-size: 1.8em;
}

footer div.contentFooter .contentFooterSocialNetwork{
    font-size: 2em;
}

/* Responsive*/

@media screen and (min-width: 770px) and (max-width: 1024px){

    /*Header*/

    header nav.nav{
        width: 90vw;
    }

    /*Main*/

    /*Footer*/

    footer div.contentFooter{
        width: 90vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 770px){

    /*Header*/
    
    header nav.nav{
        width: 90vw;
    }

    /*Main*/

    /*Footer*/
}