/* pink code #F47373 
title = Montserrat bold
text = Marcellus*/

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Marcellus', serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

/*Header*/

header{
    background-color: #F47373;
}

header nav.nav{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: 77px;
    margin: 0 auto;
}

header .nav .logoName a{
    text-decoration: none;
    color: #FFFFFF;
}

header .nav .logoName a h1{
    margin: 0;
    font-size: 2.5em;
    font-weight : bold;
}

header .nav .navigation .listNavigation{
    display: flex;
    list-style: none;
    font-size: 1.7em;
    margin: 0;
}

header .nav .navigation .listNavigation li{
    padding-top: 27.5px;
    padding-bottom: 27.5px;
    padding-left: 15px;
    padding-right: 15px;
}

header .nav .navigation .listNavigation li:hover{
    background-color: rgb(247, 102, 102);
}

header .nav .navigation .listNavigation li a{
    text-decoration: none;
    color: #FFFFFF;
}

/*Main*/

/*Sophrology Page*/

.main img.imgTitle{
    width: 100%;
    height: auto;
    position: relative;
}

.main .titleSophrology{
    position: absolute;
    left: 12vw;
    bottom: 270px;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #FFFFFF;
}

/*What Is*/

.main .whatIs{
    width: 60vw;
    margin: 0 auto;
}

.main .whatIs .adWhatIs{
    color: #F47373;
    font-size: 1.1rem;
}

.main .whatIs h3.whatIsQuestion{
    font-weight: bold;
    font-size: 2rem; 
}

.main .whatIs p{
    font-size: 1.1rem;
}

/*Why*/

.main h3.whyQuestion{
    font-weight: bold;
    font-size: 2rem; 
    margin-left: 10vw;
}

.main .why{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin:0 auto;
}

.main .why h4.titleWhy{
    color: #F47373;
    font-size: 1.1rem;
}

.main .why .listWhy{
    list-style: none;
    font-size: 1.1rem;
    padding: 0;
}

/*Who*/

.main .who{
    width: 60vw;
    margin: 0 auto;
}

.main .who h3.whoQuestion{
    font-weight: bold;
    font-size: 2rem; 
}

.main .who p{
    font-size: 1.1rem;
}

/*Session*/

.main .session{
    width: 60vw;
    margin-left: 10vw;
}

.main .session h3.sessionQuestion{
    font-weight: bold;
    font-size: 2rem;
}

.main .session p{
    font-size: 1.1rem;
}

/*Hypnose Page*/

.main .whyHypnose{
    width: 80vw;
    margin:0 auto;
}

.main .whyHypnose h3.whyQuestionHypnose{
    font-size: 2rem;
    font-weight: bold;
}

.main .whyHypnose .listWhy{
    list-style: none;
    font-size: 1.1rem;
    padding: 0;
}

/*Footer*/

footer{
    background-color: #F47373;
    color: white;
}

footer div.contentFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    height: 262px;
}

footer div.contentFooter .contentFooterInfos{
    font-size: 2em;
}

footer .contentFooter .contentFooterWeekInfos{
    display: flex;
}

footer .contentFooter .contentFooterWeekInfos ul{
    list-style: none;
}

footer .contentFooter .contentFooterWeekInfos ul li{
    font-weight: bold;
    font-size: 1.8em;
}

footer div.contentFooter .contentFooterSocialNetwork{
    font-size: 2em;
}

/* Responsive*/

@media screen and (min-width: 770px) and (max-width: 1024px){

    /*Header*/

    header nav.nav{
        width: 90vw;
    }

    /*Main*/

    /*Footer*/

    footer div.contentFooter{
        width: 90vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 770px){

    /*Header*/
    
    header nav.nav{
        width: 90vw;
    }

    /*Main*/

    /*Footer*/
}