/* pink code #F47373 
title = Montserrat bold
text = Marcellus*/

body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

p{
    font-family: 'Marcellus', serif;
}

li{
    font-family: 'Marcellus', serif;
}

a{
    font-family: 'Marcellus', serif;   
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}

.hide{
    display:none;
}

/*Header*/

header{
    background-color: #F47373;
}

header nav.nav{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: 77px;
    margin: 0 auto;
}

header .nav .logoName a{
    text-decoration: none;
    color: #FFFFFF;
}

header .nav .logoName a h1{
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

header .nav .navigation .listNavigation{
    display: flex;
    list-style: none;
    font-size: 1.7em;
    font-weight: 450;
    margin: 0;
}

header .nav .navigation .listNavigation li{
    padding-top: 27.5px;
    padding-bottom: 27.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
}

header .nav .navigation .listNavigation li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

header .nav .navigation .listNavigation li a.current{
    border-bottom: #FFFFFF solid 1px;
}

/*Main*/

/*Slider*/

.slider{
    width:100%;
    height: 600px;
    margin:0 auto;
    overflow: hidden;
    position:relative;
}

.sliderContainer{
    display:flex;
    flex-wrap: nowrap;
    transition: all ease-in 0.8s;
}

.card{
    width:100%;
    height: 600px;
    position: relative;
}

.fondue{
    width: 100vw;
    height: 100%;
    background-color: #00000060;
    position: absolute;
    top: 0;
    left: 0;
}

.card .infosSlider{
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-size: 1.1rem;
    color: #FFFFFF; 
    display: flex; 
    align-items: center;
}

.card .infosSlider p{
    width: 20vw;
}

.card .titleSlider{
    position: absolute;
    right: 15%;
    bottom: 20%;
    color: #FFFFFF;
    font-size: 3rem;
}

.card .button{
    width: 180px;
    height: 50px;
    background-color: #000000;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.card .infosSlider a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
} 

.card img{
    width: 100%;
    height: 100%;
}

.arrowPrev{
    position:absolute;
    left:2vw;
    top:50%;
    width:48px;
    height: 48px;
    transform: rotate(180deg);
    background-image: url("../images/arrowSlider.png");
    display:none;
}

.arrowNext{
    position:absolute;
    right:2vw;
    top:50%;
    width:48px;
    height: 48px;
    background-image: url("../images/arrowSlider.png");
    display:none;
}

.is-visible{
    display:block;
}

/*HomePage*/

.main .homePageInfos h1.titleHomePage{
    text-align: center;
    font-size: 2rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.main .homePageInfos{
    width: 68vw;
    margin:0 auto;
    font-size: 1.1rem;
}

.main .homePageInfos p{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.main .infosSophroHypnoseConscience{
    display: flex;
    justify-content: space-around;
    width: 85vw;
    margin:0 auto;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.main .imgInsta{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.main .imgInsta h2{
    position: absolute;
    bottom: -5px;
    left:20px;
    color: #FFFFFF;
    font-size: 1.4rem;
}

.main .imgInsta.borderColor{
    border: 3px solid #F47373;
    box-sizing: border-box;
}
  

/*Images Presentations*/

.main .imgPresentation{
    width: 100vw;
    height: 200px;
    background-image: url("../images/sophrology.png");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.main .imgPresentation h2{
    color: #FFFFFF;
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 120px;
    margin: 0;
}

.main .imgPresentationHypnose{
    width: 100vw;
    height: 200px;
    background-image: url("../images/hypnose.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.main .imgPresentationHypnose h2{
    color: #FFFFFF;
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 120px;
    margin: 0;
}

.main .imgPresentationConscience{
    width: 100vw;
    height: 200px;
    background-image: url("../images/pleine\ conscience.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.main .imgPresentationBubble h2{
    color: #FFFFFF;
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 120px;
    margin: 0;
}

.main .imgPresentationBubble{
    width: 100vw;
    height: 200px;
    background-image: url("../images/slider2.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.main .imgPresentationConscience h2{
    color: #FFFFFF;
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 120px;
    margin: 0;
}

.main .imgPresentationContact{
    width: 100vw;
    height: 200px;
    background-image: url("../images/contact.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.main .imgPresentationContact h2{
    color: #FFFFFF;
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 120px;
    margin: 0;
}

.main .imgPresentationPrice{
    width: 100vw;
    height: 200px;
    background-image: url("../images/price.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.main .imgPresentationPrice h2{
    color: #FFFFFF;
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 120px;
    margin: 0;
}

.main .imgPresentationAbout{
    width: 100vw;
    height: 200px;
    background-image: url("../images/about.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.main .imgPresentationAbout h2{
    color: #FFFFFF;
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 120px;
    margin: 0;
}

/*What Is*/

.main .border30{
    width: 32vw;
    height: 5px;
    background-color: #F47373;
    margin-left: -20vw;
}

.main .border30_2{
    width: 30.5vw;
    height: 5px;
    background-color: #F47373;
    margin-left: -20vw;
}

.main .whatIs{
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.main .whatIs .adWhatIs{
    color: #F47373;
    font-size: 1.1rem;
}

.main .whatIs h3.whatIsQuestion{
    font-weight: bold;
    font-size: 2rem; 
    margin-bottom: 2px;
}

.main .whatIs p{
    font-size: 1.1rem;
}

/*Why*/

.main .border10{
    width: 22vw;
    height: 5px;
    background-color: #F47373;
}
.main .border50{
    width: 42vw;
    height: 5px;
    background-color: #F47373;
}

.main h3.whyQuestion{
    font-weight: bold;
    font-size: 2rem; 
    margin-left: 10vw;
    margin-bottom: 3px;
}

.main .why{
    width: 80vw;
    margin:0 auto;
    margin-bottom: 10vh;
}

.main .why p{
    font-size: 1.1rem;
}

.main h3.whyQuestionHypnose{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 10vw;
}

.main .why .listWhy{
    list-style: none;
    font-size: 1.1rem;
    padding: 0;
}

.main .whySophrology{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin:0 auto;
}

.main .whySophrology h4.titleWhy{
    color: #F47373;
    font-size: 1.1rem;
}

.main .whySophrology .listWhy{
    list-style: none;
    font-size: 1.1rem;
    padding: 0;
}

/*Who*/

.main .who{
    width: 60vw;
    margin:0 auto;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.main .who h3.whoQuestion{
    font-weight: bold;
    font-size: 2rem; 
    margin-bottom: 2px;
}

.main .who p{
    font-size: 1.1rem;
}

/*Session*/

.main .session{
    width: 80vw;
    margin:0 auto;
    margin-bottom: 10vh;
}

.main h3.sessionQuestion{
    font-weight: bold;
    font-size: 2rem;
    margin : 0;
    margin-left: 10vw;
}

.main .session p{
    font-size: 1.1rem;
}

/*Hypnose Page*/


/*Conscience Page*/

.main .why .advertissement{
    color: #F47373;
}

/*About Page*/

.main .aboutFirst{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    margin:0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.main .aboutFirst ul{
    list-style: none;
    padding: 0;
}

.main .aboutFirst ul li{
    padding-top: 2vh;
    font-size: 1.1rem;
}

.main .specialist{
    font-weight: bold;
}

.main .price{
    color: #F47373;
}

.main .borderTarif{
    width: 40vw;
    height: 3px;
    background-color: #F47373;
    margin-left: 10vw
}

.main .grayText{
    color: gray;
}

.main h3.price{
    font-size: 1.8rem;
    margin-left: 10vw;
    margin-top: 10vh;
}

.main .pagePrice{
    font-size: 1.1rem;
    width: 80vw;
    margin:0 auto;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.main .aboutSecond{
    font-size: 1.1rem;
    width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.main .aboutSecond ul{
    list-style: none;
    padding: 0;
}

.main p.boldText{
    font-weight: bold;
}

.main p.colorText{
    color: #F47373;
}

/*Contact Page*/

.main .borderMid{
    width: 100%;
    height: 3px;
    background-color: #F47373;
    margin-bottom: 5vh;
}

.main .contactInfos{
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.main a.contactLink{
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
}

.main h2.titleContact{
    font-size: 2rem;
    font-weight: bold;
}

.main h4.textContact{
    font-size: 1.5rem;
}

.main h4.textContact a{
    text-decoration: none;
    color: #000000;
}

.main .map{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

/*Bubble Page*/

.main .infosBubble{
    width: 60vw;
    margin:0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.main .infosBubble ul{
    padding: 0;
    list-style: none;
}

.main .infosBubble ul li{
    font-size: 1.1rem;
}

.main h4.titleBubble{
    color: #F47373;
    font-size: 1.1rem;
}

.main a.linkBubble{
    text-decoration: none;
    color: #F47373;
    font-size: 1.3rem;
}

/*Footer*/

footer{
    background-color: #F47373;
    color: white;
}

footer div.contentFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 60vw;
    height: 180px;
}

footer div.contentFooter .contentFooterInfos{
    font-size: 1.8em;
}

footer div.contentFooter .contentFooterInfos a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.3rem;;
}

footer .contentFooter .contentFooterWeekInfos{
    display: flex;
}

footer .contentFooter .contentFooterWeekInfos ul{
    list-style: none;
}

footer .contentFooter .contentFooterWeekInfos ul li{
    font-weight: bold;
    font-size: 1.6em;
}

footer div.contentFooter .contentFooterSocialNetwork{
    font-size: 1.8em;
}

/* Responsive*/

@media screen and (min-width: 770px) and (max-width: 1024px){

    /*Header*/

    header nav.nav{
        width: 90vw;
    }

    /*Main*/

    /*Footer*/

    footer div.contentFooter{
        width: 90vw;
    }
}

@media screen and (max-width: 770px){

    /*Header*/
    
    header nav.nav{
        width: 90vw;
    }

    /*Main*/

    /*Footer*/
}

